
<h1>Welcome to Flickr Jr's Album page</h1>
<h2>Every album for your enjoyment</h2>
<%albums.each do |album|%>
  <ul>
    <li><a href="/user/<%=album.user_id%>/albums/<%=album.id%>"><%=album.title%></a></li>
  
  <%album.photos.each do |photo|%>
  
    <li><a href="/user/<%=album.user_id%>/albums/<%=album.id%>/photos/<%=photo.id%>"><%=photo.caption%></a>
      <img src="<%=photo.image%>"</img>    
    </li>
  
  </ul>

  <%end%>
  <%end%>
