<div class="container">
  <h1><%=@album.title%> Album</h1>
  <h3><%=@album.description%></h3>
  <%if current_user.id == @album.user_id%>
  <h4><a href="/upload/<%=@album.id%>">Upload photos to this album!</a></h4>
  <%end%>
  <h4><a href="/carousel/<%=@album.id%>">View this album in a carousel!</a></h4>
  <%@album.photos.each do |photo|%>
  <ul>
  <li><img src="<%=photo.file%>"></li>
  <li><a href="/photos/<%=photo.id%>"><%=photo.description%></a></li>
  </ul>
  <%end%>
</div>
